{% extends "base.jinja" %}

{% block content %}
<h1>Sign in</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>{{form.username.label}}</p>
    <p>{{form.username(size=30)}}</p>
    {% for error in form.username.errors %}
    <span style="color:red">
        <p>-- {{error}} --</p>
    </span>
    {% endfor %}

    <p>{{form.password.label}}</p>
    <p>{{form.password(size=30)}}</p>
    {% for error in form.password.errors %}
    <span style="color:red">
        <p>-- {{error}} --</p>
    </span>
    {% endfor%}

    <p>{{form.remember_me()}} {{form.remember_me.label}}</p>
    <p>{{form.submit()}}</p>
</form>
{% endblock %}